<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
 </appSettings>
 <connectionStrings>
  <add name="CarRentalConnectionString" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString2" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString3" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString4" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Connect" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString5" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString6" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString7" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString8" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString9" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString10" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString11" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString12" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString13" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString14" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString15" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString16" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString17" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString18" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString19" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString20" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString21" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString22" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString23" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString24" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString25" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString26" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString27" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString28" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString29" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString30" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString31" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString32" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString33" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString34" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString35" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString36" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString37" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString38" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString39" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CarRentalConnectionString40" connectionString="Data Source=RAJ-PC\SQLEXPRESS;Initial Catalog=CarRental;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=Keyhere"
    validate="false" />
  </httpHandlers>
  <pages>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=Keyhere" />
   </controls>
  </pages>
  <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=Keyhere"/></assemblies></compilation>
	</system.web>
	<system.webServer>
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="captcha1" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=Keyhere" />
  </handlers>
  <validation validateIntegratedModeConfiguration="false" />
 </system.webServer>
	<!--<system.web>
      <customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
        <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
      </customErrors>
    </system.web>-->

 

</configuration>
